.home .hero img
  max-width 450px!important

.home .hero .action a
  color: #4E3F29

body
  background-color: #03071E
  min-height: 100vh

::-webkit-scrollbar 
  width: 0px

.navbar
  background-color: #03071E

.sidebar
  background-color: #03071E

.navbar .links
  background-color: #03071E !important

.search-box input
  color: #03071E !important
.search-box .suggestion a
  color: #04071E !important

tr:nth-child(2n) {
    background-color: #040825;
}

h4 + p {
  font-size: 0.75em;
}

h5 + p {
  font-size: 0.5em;
}
.dropdown-wrapper .nav-dropdown .dropdown-item a {
  color: #04071E
}